<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Our Team</title>
    <style>
        .card img {
            height: 330px;
        }

        .card {
            margin-bottom: 30px;
            padding: 20px;
            width: 100%;
        }
    </style>
</head>

<body>
{% include 'navbar.html' %}
    <div><img src="{{url_for('static',filename='Assets/our_team.jpg')}}" class="img-fluid" alt="ortho-physio"></div>
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="img-box">
                        <div class="card">
                            <img class="card-img-top" src="{{url_for('static',filename='Assets/Team/PalashGhosh.jpeg')}}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">Palash Ghosh</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="img-box">
                        <div class="card">
                            <img class="card-img-top" src="{{url_for('static',filename='Assets/Team/SubhadipSaha.jpeg')}}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">Subhadip Saha</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="img-box">
                        <div class="card">
                            <img class="card-img-top" src="{{url_for('static',filename='Assets/Team/Sangram.png')}}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">Sangram Ghosh</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="img-box">
                        <div class="card">
                            <img class="card-img-top" src="{{url_for('static',filename='Assets/Team/PrithaDey.jpeg')}}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">Pritha Dey</h4>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="img-box">
                        <div class="card">
                            <img class="card-img-top" src="{{url_for('static',filename='Assets/Team/SakshiSingh.jpeg')}}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">Sakshi Singh</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="img-box">
                        <div class="card">
                            <img class="card-img-top" src="{{url_for('static',filename='Assets/Team/IshikaBagchi.jpeg')}}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">Ishika Bagchi</h4>

                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </section>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>